a, a:hover, a:visited, a:focus, a:active {
    color: #313131;
    text-decoration: none;
}

.nav-menu {
    margin: auto;
    margin-top: 20px;
}

.nav-menu a {
    font-size: 16px;
    font-weight: bold;
}

.nav-menu td {
    padding: 5px 20px;
}

.banner {
    display: block;
    padding-top: 40px;
    margin: auto;
}

.announcements {
    text-align: center;
    padding: 50px 0 30px 0;
    font-size: 16pt;
    font-weight: bold;
    color: #b71010;
}

.about-us p {
    max-width: 650px;
    font-size: 12pt;
    margin: auto;
    margin-bottom: 15px;
    text-align: justify;
}

.about-us {
    margin: auto;
    width: 650px;
    margin-bottom: 20px;
}

.about-us td {
    vertical-align: top;
}

.about-us img {
    width: 300px;
    padding-top: 5px;
}

.about-us > table > tbody > tr > td:first-child {
    padding-right: 30px;
}

.about-us > table > tbody > tr:first-child > td {
    padding-bottom: 20px;
}

.about-us p:last-child {
    margin-bottom: 0;
}

.about-us .hours tr > td:first-child {
    white-space: nowrap;
    padding-right: 10px;
}

.banner-divider {
    display: block;
    padding: 0;
    margin: auto;
}

.links table {
    margin: 40px auto;
}

.links td {
    text-align: center;
    padding: 10px
}

h3 {
    font-size: 20px;
}

h3.section {
    border-width: 1px 0;
    border-style: solid;
    border-color: #c0c0c0;
    max-width: 650px;
    margin: 40px auto;
    padding: 10px 0;
    font-size: 24px;
}

.menu h3:first-child {
    margin-top: 0;
}

.menu h3 {
    margin-bottom: 20px;
}

.menu hr {
    break-after: column;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.menu hr + h3,
.menu hr + p {
    margin-top: 0;
}

.menu p {
    text-align: justify;
}

.menu ul, .about-us ul {
    list-style: none;
    padding-left: 0;
}

.menu li .about-us li {
    padding: 0;
}

.menu {
    max-width: 650px;
    margin: 40px auto;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    column-gap: 40px;
}

.footer {
    max-width: 650px;
    margin: 40px auto;
}